body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: darkcyan;
    text-align: center;
    margin: 0 0 20px;
}

#app {
    display: flex;
    width: 100%;
    padding: 50px;

    .enter {
        display: flex;
        width: 100%;
        max-width: 500px;

        .box {
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid skyblue;
            padding: 35px;
            border-radius: 5px;
            background-color: #fff;
            row-gap: 20px;

            input, select {
                padding: 10px;
                margin-bottom: 10px;
                border: 2px solid cadetblue;
                border-radius: 5px;
                font-size: 16px;
                outline: none;
            }

            button {
                padding: 10px;
                background-color: darkcyan;
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
            }

        }
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 50px;
        row-gap: 10px;

        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 2px solid skyblue;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: #fff;

            &[data-task-view-priority="1"] {
                border-color: crimson;
            }
            &[data-task-view-priority="2"] {
                border-color: darkorange;
            }
            &[data-task-view-priority="3"] {
                border-color: darkseagreen;
            }

            .content {
                font-size: 16px;
                padding: 5px 10px;
                max-height: 30px;
                overflow: hidden;
            }

            .actions {
                display: flex;
                column-gap: 10px;
                button {
                    padding: 10px;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    font-size: 12px;
                    cursor: pointer;

                    &.done {
                        background-color: grey;
                        &.ok {
                            background-color: lightseagreen;
                        }
                    }

                    &.delete {
                        background-color: crimson;
                    }

                    &.save {
                        background-color: darkcyan;
                    }
                }
            }
        }
    }
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    row-gap: 10px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    .message {
        padding: 10px 20px;
        color: #fff;
        border-radius: 5px;
        width: 300px;
        text-align: center;

        &.ok {
            background-color: lightseagreen;
        }

        &.add {
            background-color: darkcyan;
        }

        &.no {
            background-color: crimson;
        }

        &.delete {
            background-color: darkred;
        }

        &.edit {
            background-color: darkorange;
        }
    }
}

.sort {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 20px;

    button {
        padding: 10px;
        background-color: darkcyan;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
}